 	<div class="feedback">
 		<div class="row">
 			<div class="col-md-6 left-content">
				
				<ul><li style="width:20%"><span><img src="{{site.baseurl}}/image/oqvbrv-bookie-testimonial-profile-cold.png"/></span></li>
 				<li style="width:80%"><p> Authors Bio.This is the authors biography for the ebook. This biography will deliver detailed insights into the authors background and why they are a trusted subject matter expert on the given topic.
 					</p>
 					<h6>- Author Name</h6>
 					<span>Author Title, Company</span>
 					</li></ul>
 			</div>
 			<div class="col-md-6 left-content">
				
				<ul><li style="width:20%"><span><img src="{{site.baseurl}}/image/oqvbrv-bookie-testimonial-profile-cold.png"/></span></li>
 				<li style="width:80%"><p> Authors Bio.This is the authors biography for the ebook. This biography will deliver detailed insights into the authors background and why they are a trusted subject matter expert on the given topic.
 					</p>
 					<h6>- Author Name</h6>
 					<span>Author Title, Company</span>
 					</li></ul>
				 <div class="lastest">
			   <h3>Lastest News</h3>
			   <ul class="products">
			{% for post in site.posts %}    
                     <li>  <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
              </li>
				{% endfor %}  
			   </ul>
			 </div>
 			</div>
 		
 		</div>
 		<div class="line"></div>
	<h4>Copyright 2012 ThatGreatCompany</h4>

</div>